{% extends 'base.html.twig' %}

{% block title %}Edit Jury{% endblock %}

{% block body %}
    <h1>Edit Jury</h1>

    {{ include('jury/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_jury_index') }}">back to list</a>

    {{ include('jury/_delete_form.html.twig') }}
{% endblock %}
