{% extends 'base.html.twig' %}

{% block title %}New Jury{% endblock %}

{% block body %}
    <h1>Create new Jury</h1>

    {{ include('jury/_form.html.twig') }}

    <a href="{{ path('app_jury_index') }}">back to list</a>
{% endblock %}
