<form method="post" action="{{ path('app_essai_delete', {'id': essai.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ essai.id) }}">
    <button class="btn">Delete</button>
</form>
