{% extends 'base.html.twig' %}

{% block title %}New Enseigant{% endblock %}

{% block body %}
    <h1>Create new Enseigant</h1>

    {{ include('enseigant/_form.html.twig') }}

    <a href="{{ path('app_enseigant_index') }}">back to list</a>
{% endblock %}
